HTTPS=false
REACT_APP_TENDERLY_SIMULATE_ENDPOINT_URL=
REACT_APP_TENDERLY_PROJECT_NAME=
REACT_APP_TENDERLY_ORG_NAME=

# Required only to deploy your own Smart Contract using command line
INFURA_KEY=
PRIVATE_KEY=
ETHERSCAN_API_KEY=

# custom supabase connect
REACT_APP_SUPABASE_URL=https://snsoupmxxcbdyohaeeny.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNuc291cG14eGNiZHlvaGFlZW55Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTM4OTM2MzEsImV4cCI6MjAyOTQ2OTYzMX0.v8BGP1LFm1siAYXC7QYobH9bJ0y-tnzVMCqJkhOF4Eg

